<a href="https://colab.research.google.com/github/imugagga/Sales-Predictions---JFood-Sores/blob/main/Project_2_Mugagga_Innocent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#Mount data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Dataset 1: Wheat Seeds Dataset**

In [33]:
#Import Pandas
import pandas as pd
#Read Data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Week 7/Project 2/Uploads/Seed_Data.csv')
df.head()

       A      P       C     LK     WK  A_Coef    LKG  target
0  15.26  14.84  0.8710  5.763  3.312   2.221  5.220       0
1  14.88  14.57  0.8811  5.554  3.333   1.018  4.956       0
2  14.29  14.09  0.9050  5.291  3.337   2.699  4.825       0
3  13.84  13.94  0.8955  5.324  3.379   2.259  4.805       0
4  16.14  14.99  0.9034  5.658  3.562   1.355  5.175       0

In [34]:
#Features
len(list(df.columns))

8

In [35]:
#Data Shape
df.shape

(210, 8)

1) Source of data
```
https://www.kaggle.com/datasets/dongeorge/seed-from-uci?resource=download
```

***2) Brief description of data***
```
The Wheat Seeds Dataset involves the prediction of Wheat species.
Includes the given measurements of seeds from different varieties of wheat.

There are 210 observations with 7 input variables and 1 output variable.

The examined group comprised kernels belonging to three different varieties of wheat: Kama, Rosa and Canadian, 70 elements each, randomly selected for
```
***3) What is the target?***
```
Prediction of species Class of the Wheat from three different varieties of the wheat - Cluster
Class (1, 2, 3).
```

*4) Is this a classification or regression problem?*
```
Classification Problem
The number of observations for each class is balanced. 
```
5) How many features?
```
There are 7 Features.
1. Area.
2. Perimeter.
3. Compactness
3. Length of kernel.
4. Width of kernel.
5. Asymmetry coefficient.
6. Length of kernel groove.
```
6) How many rows of data.
```
Rows: 210
```
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
```
The level of correlation of the features to the target.
```

# **Dataset 2: Vehicle dataset**

*Used Cars data form websites*

In [36]:
#Read Data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Week 7/Uploads/car details v4.csv')
df.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [37]:
#Features
len(list(df.columns))

20

In [38]:
#Data Shape
df.shape

(2059, 20)

1) Source of data
```
https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=Car+details+v3.csv
```

***2) Brief description of data***
```
This dataset contains information about used cars.
This data can be used for a lot of purposes such as price prediction to exemplify the use of linear regression in Machine Learning.
```
***3) What is the target?***
```
Prediction of the price of the Used Cars
```

*4) Is this a classification or regression problem?*
```
Regression Problem 
```
5) How many features?
```
There are 19 Features.
```
6) How many rows of data.
```
Rows: 2059
```
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
```
Some Features are combined and may require separation
```

# **Dataset 3: Adult Data Set**

In [39]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Week 7/Uploads/adult.data',header=None)

df.columns=[ 'Age',	'Workclass',	'Fnlwgt',	'Education','Education-Num',
            'Marital-Status',	'Occupation',	'Relationship',	'Race',	'Sex',	
            'Capital-Gain',	'Capital-Loss',	'Hours-Per-Week',	'Native-Country','Annual Salary']
df.head()

,Age,Workclass,Fnlwgt,Education,Education-Num,Marital-Status,Occupation,Relationship,Race,Sex,Capital-Gain,Capital-Loss,Hours-Per-Week,Native-Country,Annual Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [40]:
#Features
len(list(df.columns))

15

In [41]:
#Data Shape
df.shape

(32561, 15)

1) Source of data
```
https://archive.ics.uci.edu/ml/datasets/Adult
```

***2) Brief description of data***
```

This data was extracted from the census bureau database found at
| http://www.census.gov/ftp/pub/DES/www/welcome.html
aimed to determined whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.

```
***3) What is the target?***
```
Annual salary of the Individuals
Prediction task is to determine whether a person makes over 50K in a year.
```

*4) Is this a classification or regression problem?*
```
Classification Problem 
```
5) How many features?
```
There are 14 Features.
```
6) How many rows of data.
```
Rows: 32561
```
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
```
Missing Values
```